@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    @apply min-h-dvh bg-slate-950 text-slate-100 antialiased;
  }

  body[data-theme="light"] {
    @apply bg-slate-50 text-slate-900;
  }
}
